/* start 1 */
.hexagon1 {
  width: 100px;
  height: 55px;
  position: relative;
}

.hexagon1, 
.hexagon1:before, 
.hexagon1:after {
  background: red;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);   
}

.hexagon1:before,
.hexagon1:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon1:before {
  top: -29px;
}

.hexagon1:after {
  top: 27px;
}

.hexagon1 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 55px;
  background: red;
  z-index: 1;
}
/* end 1  */